<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full text-black bg-gray-100 font-outfit h-full ">
      <tr>
        <td align="center">
          <table class="sm:w-full w-150 bg-white drop-shadow pb-8 rounded-b-2xl mb-4">
            <tr>
              <td align="center" class=" text-center ">
                <div class="bg-blue-100 w-full py-20 bg-cover text-white rounded-t-2xl"
                  style="background-image: url('https://firebasestorage.googleapis.com/v0/b/barbapp-d4159.appspot.com/o/appImages%2Fheader_bg.png?alt=media&token=5a49db42-490a-4696-965b-7eb221878004');">
                  <div class="w-full pb-4" style="margin: 0 auto; text-align: center;">
                    <a href="https://wavier.io/">
                      <img align="center" class="w-32 pb-4"
                        src="https://firebasestorage.googleapis.com/v0/b/barbapp-d4159.appspot.com/o/appImages%2FWavierLogoText.png?alt=media&token=36635640-7950-4483-802b-ba0b77be2a9c" />
                    </a>
                  </div>
                  <div class="font-bold text-xl pb-4 px-16">Welcome to Wavier!</div>
                  <!-- <div class="text-xs">Here are all the details about it.</div> -->
                </div>
              </td>
            </tr>

            <tr>
              <td align="center" class="px-4">
                <!-- <p style="text-align: center;"><strong><span style="font-size: 22px"><span
                        >Welcome to
                        Wavier!</span></span></strong><span style="font-size: 22px"><span
                      > </span></span></p> -->
                <p style="text-align: left;"><span
                    >Your all-in-one solution
                    for appointment management! We're thrilled to have you on board, and we can't wait to help you
                    streamline your booking processes, save time, and grow your business.</span></p>
                <p style="text-align: left;"><span
                    >Here are some quick tips
                    to get you started:</span></p>
                <p></p>
                <p style="text-align: left;"><strong><span
                      >1. Create Your First
                      Business:</span></strong></p>
                <p style="text-align: left;"><span
                    >- </span><a
                    href="https://app.wavier.io/signin?utm_source=welcome&amp;utm_medium=email" target="_blank"
                    tabindex="-1"><span >Log
                      in</span></a><span > to
                    your Wavier account.</span></p>
                <p style="text-align: left;"><span
                    >- If you haven’t created
                    your first business already you’ll be redirected to the Business creation page automatically</span>
                </p>
                <p style="text-align: left;"><span
                    >- Customize your
                    business profile, including services, professionals, and working hours.</span></p>
                <p style="text-align: left;"><span
                    >- Share your booking
                    link with your clients!</span></p>
                <p></p>
                <p style="text-align: left;"><strong><span
                      >2. Explore
                      Features:</span></strong></p>
                <p style="text-align: left;"></p>
                <p style="text-align: left;"><span
                    >- Discover how Wavier
                    can help you manage appointments effortlessly. Follow these </span><a
                    href="https://wavier.freshdesk.com/support/solutions/153000018557" target="_blank"
                    tabindex="-1"><span
                      >guides</span></a><span
                    > to get started!</span>
                </p>
                <p style="text-align: left;"><span
                    >- Check out our
                    user-friendly interface, and appointment booking system.</span></p>
                <p></p>
                <p style="text-align: left;"><strong><span
                      >3. Get
                      Support:</span></strong></p>
                <p style="text-align: left;"></p>
                <p style="text-align: left;"><span
                    >- If you have any
                    questions or need assistance, our Help Center and support team are here for you.</span></p>
                <p style="text-align: left;"><span
                    >- Visit our </span><a
                    href="https://wavier.freshdesk.com/support/home" target="_blank" tabindex="-1"><span
                      >Help
                      Center</span></a><span
                    > for FAQs and
                    step-by-step guides.</span></p>
                <p style="text-align: left;"><span
                    >- Contact our support
                    team </span><a href="mailto:support@wavier.io?subject=&amp;body=null" tabindex="-1"><span
                      >here</span></a><span
                    > anytime you need
                    help.</span></p>
                <p></p>
                <p style="text-align: left;"><strong><span
                      >4. Upgrade to Wavier
                      Pro:</span></strong></p>
                <p style="text-align: left;"></p>
                <p style="text-align: left;"><span
                    >- Consider upgrading to
                    our <span><a href="https://app.wavier.io/app/settings/plans">Pro plan</a></span> to unlock even more advanced features to supercharge your business.</span></p>
                <p></p>
                <p style="text-align: left;"><span
                    >Thank you for choosing
                    Wavier to simplify your appointment management. We're committed to providing you with the best tools
                    and support to help your business thrive.</span></p>
                <p></p>
                <p style="text-align: left;"><span
                    >If you have any feedback
                    or suggestions, we'd love to hear from you. Your input is invaluable in helping us improve our
                    platform.</span></p>
                <p></p>
                <p style="text-align: left;"><span
                    >Once again, welcome to
                    the Wavier family. We're excited to embark on this appointment management journey with you!</span>
                </p>
                <p></p>
                <p style="text-align: left;"><span
                    >Best regards,</span></p>
                <p style="text-align: left;"><span
                    >The Wavier Team</span>
                </p>
                <p></p>
                <p style="text-align: left;"><span
                    >P.S. Don't forget to
                    follow us on </span><a href="https://web.facebook.com/wavierapp" target="_blank" tabindex="-1"><span
                      >Facebook</span></a><span
                    >, </span><a
                    href="https://www.instagram.com/wavierapp/" target="_blank" tabindex="-1"><span
                      >Instagram</span></a><span
                    > and </span><a
                    href="https://twitter.com/wavierapp" target="_blank" tabindex="-1"><span
                      >Twitter</span></a><span
                    > for updates and tips on
                    maximizing your Wavier experience!</span></p>
              </td>
            </tr>

          </table>
        </td>
      </tr>
      <tr>
        <td align="center">
          <table>
            <tr>
              <td>
                <div class="text-xs py-2 items-center w-full mr-8">
                  <a href="https://twitter.com/wavierapp">
                    <div class="w-12 h-12 bg-blue-400 rounded-full bg-cover "
                      style="background-image: url('https://firebasestorage.googleapis.com/v0/b/barbapp-d4159.appspot.com/o/appImages%2Fsocial_logos%2Ftwitter.png?alt=media&token=4b1244dd-596e-4a1d-8186-1f2a86962cf0');">
                    </div>
                  </a>

                </div>
              </td>
              <td>
                <div class="text-xs py-2 items-center w-full mr-8">
                  <a href="https://www.instagram.com/wavierapp/">
                    <div class="w-12 h-12 bg-blue-400 rounded-full bg-cover "
                      style="background-image: url('https://firebasestorage.googleapis.com/v0/b/barbapp-d4159.appspot.com/o/appImages%2Fsocial_logos%2Finstagram.png?alt=media&token=152bc8fe-bb6a-4b30-a85c-2a18a760a4aa');">
                    </div>
                  </a>
                </div>
              </td>
              <td>
                <div class="text-xs py-2 items-center w-full">
                  <a href="https://web.facebook.com/wavierapp">
                    <div class="w-12 h-12 bg-white rounded-full bg-cover "
                      style="background-image: url('https://firebasestorage.googleapis.com/v0/b/barbapp-d4159.appspot.com/o/appImages%2Fsocial_logos%2Ffacebook.png?alt=media&token=80771663-67f9-4015-bb85-1e24a097b14c');">
                    </div>
                  </a>
                </div>
              </td>
            </tr>
          </table>
          <div class="text-xs py-1">
            <p>This email was sent to you because you're a registered Wavier user.</p>
            <p>Powered by Wavier. Copyright 2023</p>
          </div>
        </td>
      </tr>
    </table>
  </block>
</extends>