<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full text-black bg-gray-100 font-montserrat h-full ">
      <tr>
        <td align="center">
          <table class="sm:w-full w-150 bg-white drop-shadow pb-8 rounded-b-2xl mb-4">
            <tr>
              <td align="center" class=" text-center ">
                <div class="bg-blue-100 w-full py-20 bg-cover text-white rounded-t-2xl"
                  style="background-image: url('https://firebasestorage.googleapis.com/v0/b/barbapp-d4159.appspot.com/o/appImages%2Fheader_bg.png?alt=media&token=5a49db42-490a-4696-965b-7eb221878004');">
                  <div class="w-full pb-4" style="margin: 0 auto; text-align: center;">
                    <a href="https://wavier.io/">
                      <img align="center" class="w-32 pb-4"
                        src="https://firebasestorage.googleapis.com/v0/b/barbapp-d4159.appspot.com/o/appImages%2FWavierLogoText.png?alt=media&token=36635640-7950-4483-802b-ba0b77be2a9c" />
                    </a>
                  </div>
                  <div class="font-bold text-xl pb-4">Hello ${bookingCompletedBY}, you're booked!</div>
                  <div class="text-xs">Here are all the details about it.</div>
                </div>
              </td>
            </tr>

            <tr>
              <td align="center">
                <p class="text-montserrat text-2xl font-thin">
                  Booking summary
                </p>
              </td>
            </tr>

            <tr>
              <td class="px-8 md:px-16">
                <p class="font-bold text-md">
                  Date
                </p>
                <p>${chosenDay} at ${chosenTime}</p>
                <div class="flex">
                  <a style="text-decoration: none;" class="pr-4"
                    href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Appointment with ${barberBooked}&details=Appointment with ${barberBooked} for a ${selectedServiceName}&dates=${calendar_start}/${calendar_end}">
                    <div class="rounded px-4 py-1 bg-[#4287f5]">
                      <p class="font-bold text-white">Add to Google Calendar</p>
                    </div>
                  </a>

                </div>
              </td>
            </tr>

            <tr>
              <td class="px-8 md:px-16">
                <p class="font-bold text-md">
                  Your professional
                </p>
                <div class="w-full flex items-center justify-center">
                  <div class="flex items-center justify-between ">
                    <div class="flex items-center">
                      <div class="w-16 h-16 bg-blue-400 rounded-full bg-cover"
                        style="background-image: url('${profilePic}');">
                      </div>
                      <div class="pl-4">
                        <div class="pb-2">${barberBooked}</div>
                        <a href="tel:${phone}">
                          <div>${phone}</div>
                        </a>
                      </div>
                    </div>
                    <div class="flex items-center md:pl-8 pl-4">
                      <!-- <div class="w-10 h-10 bg-blue-100 rounded-full ml-16"
                      ></div> -->


                      <!-- <div class="w-10 h-10 bg-white rounded-full mx-2"></div> -->
                    </div>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="px-8 md:px-16">
                <p class="font-bold text-md">
                  Service
                </p>
                <div class="w-full flex items-center justify-center">
                  <div class="flex justify-between items-center w-full">
                    ${selectedServiceName}
                    <!-- <span class="flex ">
                      <div class="">GHS </div>
                      <div class="font-medium">@{{ serviceName }}</div>
                    </span> -->
                  </div>


                </div>
              </td>
            </tr>

            <tr>
              <td class="px-8 md:px-16 ">
                <div class="w-full bg-gray-100 rounded-xl mb-2 py-4 mt-8">

                  <div class="px-4">
                    <span className="inline-block mb-2 text-xs font-normal">
                      Additional notes:
                    </span>
                    <p className="text-sm font-normal leading-6">
                      ${additionalInfo}
                    </p>
                  </div>

                </div>
              </td>
            </tr>

          </table>
        </td>
      </tr>
      <tr>
        <td align="center">
          <table>
            <tr>
              <td >
                <div class="text-xs py-2 items-center w-full mr-8">
                  <a href="https://twitter.com/wavierapp">
                    <div class="w-12 h-12 bg-blue-400 rounded-full bg-cover "
                      style="background-image: url('https://firebasestorage.googleapis.com/v0/b/barbapp-d4159.appspot.com/o/appImages%2Fsocial_logos%2Ftwitter.png?alt=media&token=4b1244dd-596e-4a1d-8186-1f2a86962cf0');">
                    </div>
                  </a>

                </div>
              </td>
              <td>
                <div class="text-xs py-2 items-center w-full mr-8">
                  <a href="https://www.instagram.com/wavierapp/">
                    <div class="w-12 h-12 bg-blue-400 rounded-full bg-cover "
                      style="background-image: url('https://firebasestorage.googleapis.com/v0/b/barbapp-d4159.appspot.com/o/appImages%2Fsocial_logos%2Finstagram.png?alt=media&token=152bc8fe-bb6a-4b30-a85c-2a18a760a4aa');">
                    </div>
                  </a>
                </div>
              </td>
              <td>
                <div class="text-xs py-2 items-center w-full">
                  <a href="https://web.facebook.com/wavierapp">
                    <div class="w-12 h-12 bg-white rounded-full bg-cover "
                      style="background-image: url('https://firebasestorage.googleapis.com/v0/b/barbapp-d4159.appspot.com/o/appImages%2Fsocial_logos%2Ffacebook.png?alt=media&token=80771663-67f9-4015-bb85-1e24a097b14c');">
                    </div>
                  </a>
                </div>
              </td>
            </tr>
          </table>
          <div class="text-xs py-1">
            <p>This email was sent to you because you're a registered Wavier user.</p>
            <p>Powered by Wavier. Copyright 2023</p>
          </div>
        </td>
      </tr>
    </table>
  </block>
</extends>